<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kofte</key>
	<dict>
		<key>Tarif</key>
		<string>Yemek Tarifi</string>
		<key>Fiyat</key>
		<string>15.00 TL</string>
		<key>Gorsel</key>
		<string>kofte.png</string>
	</dict>
	<key>Musakka</key>
	<dict>
		<key>Tarif</key>
		<string>Yemek Tarifi</string>
		<key>Fiyat</key>
		<string>15.00 TL</string>
		<key>Gorsel</key>
		<string>musakka.png</string>
	</dict>
</dict>
</plist>
